body {
    background-image: linear-gradient(120deg,
            hsl(281deg 40% 72%) 0%,
            hsl(279deg 36% 92%) 17%,
            hsl(0deg 0% 100%) 32%,
            hsl(0deg 0% 100%) 48%,
            hsl(18deg 65% 91%) 64%,
            hsl(13deg 58% 87%) 81%,
            hsl(355deg 41% 89%) 100%);
    /* font-family: 'Roboto', sans-serif; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (max-width: 568px) {
    nav {
        justify-content: center;
    }

}

.logo {
    width: 160px;
    height: 80px;
}

.d_flex {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;

}

.m_b {
    margin-bottom: 20px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: "Titillium Web", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    margin-top: 70px;
}

.m_t {
    color: rgba(71, 84, 103, 1);
    margin-top: -20px;
}

.parent_container {
    margin-bottom: 50px;
    position: relative;
    margin-top: 50px;
    width: 80vw;
    height: auto;
    border-radius: 20px;
    background-image: linear-gradient(60deg,
            hsl(32deg 97% 66%) 0%,
            hsl(32deg 97% 66%) 7%,
            hsl(32deg 97% 66%) 17%,
            hsl(32deg 97% 66%) 33%,
            hsl(32deg 97% 66%) 51%,
            hsl(32deg 97% 66%) 62%,
            hsl(32deg 97% 66%) 68%,
            hsl(32deg 97% 66%) 74%,
            hsl(32deg 97% 66%) 78%,
            hsl(32deg 97% 66%) 78%,
            hsl(32deg 97% 66%) 78%,
            hsl(32deg 97% 66%) 88%,
            hsl(258deg 100% 60%) 100%,
            hsl(258deg 100% 60%) 100%,

            hsl(305deg 36% 64%) 96%,
            hsl(269deg 68% 63%) 98%,
            hsl(258deg 100% 60%) 100%);
}

.child {
    clip-path: polygon(80% 0, 87% 15%, 100% 43%, 100% 70%, 100% 100%, 50% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
    background-image: linear-gradient(135deg,
            hsl(180deg 9% 98%) 0%,
            hsl(61deg 4% 98%) 7%,
            hsl(30deg 14% 97%) 17%,
            hsl(26deg 23% 97%) 33%,
            hsl(24deg 29% 97%) 51%,
            hsl(10deg 35% 94%) 62%,
            hsl(5deg 37% 91%) 69%,
            hsl(3deg 39% 88%) 74%,
            hsl(2deg 40% 84%) 79%,
            hsl(2deg 40% 84%) 82%,
            hsl(2deg 40% 84%) 86%,
            hsl(2deg 40% 84%) 89%,
            hsl(2deg 40% 84%) 91%,
            hsl(2deg 40% 84%) 94%,
            hsl(2deg 40% 84%) 96%,
            hsl(2deg 40% 84%) 98%,
            hsl(2deg 40% 84%) 100%);
    width: 100%;
    /* height: 400px; */
    border-radius: 20px;
    z-index: -100;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (max-width: 1000px) {
    .child {
        clip-path: polygon(55% 0, 74% 22%, 100% 48%, 100% 70%, 100% 100%, 50% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
    }

}

.text {

    position: absolute;
    top: 1%;
    right: 2%;
    text-align: center;
    width: 100px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    z-index: 100;

}

.person {
    margin: 20px !important;
    border-radius: 20px;
    width: 30vw;
}

.d_flexx {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 10px;
    flex-direction: column;
    margin: 20px;

}

h2 {
    font-family: "Titillium Web", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
}

.flex_box_button {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.btn_1 {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: auto;
    background-color: #13110E;
    color: white;
    border: black;
    font-size: 0.8rem;

    font-weight: 400;
    align-items: center;

    cursor: pointer;
}

.btn_2 {
    padding: 10px;
    border-radius: 10px;
    border: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: white;
    color: black;
    font-size: 0.8rem;
    font-weight: 400;
    cursor: pointer;
}

.m-b {
    margin-top: -5px;
}